@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

:root {
    --color-title: #ffffff;
    --color-link: #D36833;
    --color-background:#2D3142;
    --color2-background:#ffffff;
    --size-title: 2em;
    --size-item: 1em;
    --font-title: "Nunito", sans-serif;
  }


.main_tutor{
    width: 100%;
    background-color: var(--color-background)
}

.main_tutor_content{
    max-width: calc(1300px - 80px);
    padding: 40px;
    margin: 0px auto;
    color: #fff;
    text-align: center;
}

.main_tutor_content > header h1{
    font-family: var(--font-title);
    font-size:  var(--size-title);
    margin-bottom: 10px;
}

.main_tutor_content >header p{

    font-family: var( --font-title);
    font-size: var(--size-title);
}

.main_tutor_content_img{
    margin: 20px auto;
}

.main_tutor_content_img img{
     max-width: 200px;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     padding: 3px;
     background-color: var(--color2-background);
}


.main_tutor_history p{
   font-size: var(--size-item);
   margin-bottom: 20px;
   font-family: var( --font-title);

}



.main_tutor_social_network{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:var(--color-link);
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_tutor_social_network > header{
    flex-basis: 100%;
    margin-bottom: 20px;
    font-family: var( --font-title);
    font-size: var(--size-item);
}

.main_tutor_social_network > article{
    flex-basis: 24%;
  
}

.main_tutor_social_network > article h3{
    font-size: 0.9em;
    margin-bottom: 10px;
}

.main_tutor_social_network > article h3 a{
    background-color: var(--color2-background);
    color: var(--color-link);
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-decoration: none;
    padding: 10px 20px;
    font-family: var(--font-title);
}

.main_tutor_social_network > article h3 a:hover{
    background-color: #2D3142;
    color: var(--color-title);
}


.main_footer_rights{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: var(--color2-background);
    border-top: 1px solid #EBEBEB;
    font-size: 0.9em;
    color:#666;
    font-weight: 300;
    font-family: var(--font-item);

}

.main_footer_rights a{
    color: var(--color-link);
}



/*520*/
  @media(max-width:36em){

    .main_tutor_social_network > article{
        flex-basis: 100%;
        
    }

  }


